<div class="col-nd-12">
    <div class="row1">
        <div class="list">
            <ul>
                <li routerLink="fromevent">From Event</li>
                <li routerLink="interval">Interval</li>
                <li routerLink="of&from">Of & From</li>
                <li routerLink="toarray">ToArray</li>
            
            </ul>
        </div>
    </div>
    <div class="row1">
        <div class="list">
            <ul>
              
                <li routerLink="custom">Custom Observable</li>
                <li routerLink="map">Map</li>
                <li routerLink="pluck">Pluck</li>
                <li routerLink="filter">Filter</li>
            </ul>
        </div>
    </div>
  
</div>
