<div class="container">
    <h2>ToArray</h2>
    <br>
    <hr>
   
    <div class="row">
        <div class="col-md-4">
            <strong>Ex -01 Interval</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded ">

                <Strong>Data:</Strong>data to array

            </p>
            <hr>
            <ul id="elcontainer"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex -02 From</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded ">

                <Strong>Data:</Strong>from to array

            </p>
            <hr>
            <ul id="elcontainer2"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex -03 Of</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded ">

                <Strong>Data:</Strong>of to array

            </p>
            <hr>
            <ul id="elcontainer3"></ul>
        </div>
    </div>

    

    
</div>
