<div class="my-3">

    
    <h2>Promise</h2>

    <div class="container">

        <div class="row">
            <div class="col-md-4">
                Use of Promise
                <button class="btn btn-primary" (click)="myfun()">Click</button><br>
                <p>{{ promiseval }}</p>
            </div>
        
            <div class="col-md-4">
                Asyn/Await
                <button class="btn btn-primary" (click)="async()">Click Me</button>
                <hr>
                <strong>{{ result1 }}</strong>
            </div>
        
           
        </div>
        <div class="row">
            <div class="col-md-4">
                With Promise
                <button class="btn btn-primary" (click)="async1()">Buy Laptop</button>
                <hr>
                <strong>{{ result2 }}</strong>
            </div>
            <div class="col-md-4">
                with Async/Await
                <button class="btn btn-primary" (click)="async2()">Buy Laptop</button>
                <hr>
                <strong>{{ result3 }}</strong>
            </div>
            <div class="col-md-4">
                with API
                <button class="btn btn-primary" (click)="async3()">Buy Laptop</button>
                <hr>
                <strong>{{ result4 }}</strong>
            </div>
        </div>
       
    </div>
    
</div>
